<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Posts</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/assets/styles/posts-view.css">
    </head>
    <body>

        <div class="container posts-form margin-thirty">
            <a href="http://localhost:8888" class="link">Home</a>
            <h2 class="margin-thirty">Edit post</h2>
            <form id="form-id">
                <div class="form-group margin-twenty">
                    <label for="title">Title</label>
                    <label id="title-error"></label>
                    <input type="text" class="form-control" id="title"
                           placeholder="enter title">
                </div>
                <div class="form-group margin-ten">
                    <label for="description">Description</label>
                    <label id="description-error"></label>
                    <input type="text" class="form-control" id="description"
                           placeholder="enter last description">
                </div>

                <button type="submit" class="btn btn-primary submit-button margin-twenty">Submit</button>
            </form>
        </div>

        <script>

            $(document).ready(function () {
                const urlArry = window.location.pathname.split("/")
                const id = urlArry[2]
                $.ajax({
                    url: `http://localhost:8888/posts/${id}`,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        const post = data[0]
                        $('#title').val(post.title)
                        $('#description').val(post.description)

                    }
                });

                $('#form-id').on('submit', function (e) {
                    const urlArry = window.location.pathname.split("/")
                    const id = urlArry[2]
                    e.preventDefault();
                    const title = $('#title').val();
                    const description = $('#description').val();

                    const data = {
                        title,
                        description,
                    }
                    $.ajax({
                        url: `http://localhost:8888/posts/${id}`,
                        type: "PUT",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            window.location.replace("http://localhost:8888");
                        },
                        error: function (data){
                            $('#title-error').html('')
                            $('#description-error').html('')
                            $('#title').removeClass('error-border')
                            $('#description').removeClass('error-border')
                            if (data.responseJSON?.descriptionRequired) {
                                $('#title').addClass('error-border')
                                $('#title-error').append(` <span class='error-text'>${data.responseJSON?.titleRequired}</span>`)
                            }
                            if (data.responseJSON?.titleShort) {
                                $('#title').addClass('error-border')
                                $('#title-error').append(` <span class='error-text'>${data.responseJSON?.titleShort}</span>`)
                            }
                            if (data.responseJSON?.descriptionRequired) {
                                $('#description').addClass('error-border')
                                $('#description-error').append(` <span class='error-text'>${data.responseJSON?.descriptionRequired}</span>`)
                            }
                            if (data.responseJSON?.descriptionShort) {
                                $('#description').addClass('error-border')
                                $('#description-error').append(` <span class='error-text'>${data.responseJSON?.descriptionShort}</span>`)
                            }
                        }
                    });
                })

            })


        </script>

    </body>
</html>
